<div *ngFor="let student of students; index as studentID">
  <p>{{student.name.firstname}}</p>
  <p>{{student.name.lastname}}</p>
  <p>{{student.dateOfBirth}}</p>
  <p>{{student.education}}</p>
  <p>{{student.certificate}}</p>
  <p>{{student.description}}</p>
  <p>{{student.adress}}</p>
  <p>{{student.email}}</p>
  <p>{{student.languageSkills}}</p>
  <p>{{student.computerSkills}}</p>
  <p><img src={{student.photo}} alt=""></p>
  <p>{{student.linkToProject}}</p>
  <p>{{student.available}}</p>
</div>