<div class="container myContainer">
    <div class=" border border-0 rounded m-3 p-5">
        <p>
            <a href="{{student.linkToProject}}" target="_blank">
                <img src={{student.projectphoto}} alt="">
            </a>
        </p>
        <br>
        <hr><br>
        <p>Project(s) by:<br>{{student.name.firstname}} {{student.name.lastname}}, born {{student.dateOfBirth}}, <br>
            {{student.description}}</p>

        <p><img src={{student.photo}} alt=""></p>

        <p>&#8226; {{student.education}}<br>
            &#8226; {{student.certificate}}</p>
        <p>&#8226; speaks {{student.languageSkills}}</p>
        <p>&#8226; handles {{student.computerSkills}}</p>

        <p>{{student.adress}}<br>
            {{student.email}}</p>
    </div>
</div>