$nav-bg-color: rgba(255, 255, 255, 0.3);
$nav-text-color: #821918;
$nav-text-hover-color: white;
$body-bg-color: #eeeeee;
$h1-color: #ffffff;
$text-color: #363537;
// footer {
//     background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));

// }

footer {
    // background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
    background: linear-gradient(90deg, lightgrey, black);
    color: $nav-text-color;
    text-shadow: 2px 2px 10px black;
    opacity: 95%;
    height: 80px;


    a:hover {
        color: $nav-text-hover-color !important;
    }
}