<div class="container">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
    <div *ngFor="let carreer of carreers; index as carreerID" class="col-md-12">
      <div class="card h-100">
        <div class="card-img-container">
          <img class="card-img-top img-fluid" src="{{carreer.image}}" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{carreer.title}}</h5>
          <div class="card-text-container">
            <p class="card-text">{{carreer.content}}</p>
            <p class="card-text">{{carreer.type}}</p>
            <p class="card-text">{{carreer.info}}</p>
            <p class="card-text">{{carreer.active}}</p>
          </div>
          <div class="card-text-full">
            <p class="card-text">{{carreer.content}}</p>
            <p class="card-text">{{carreer.type}}</p>
            <p class="card-text">{{carreer.info}}</p>
            <p class="card-text">{{carreer.active}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
