<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
    <div *ngFor="let carreer of carreers; index as carreerID">
      <div class="card h-100 p-2">
        <div class="card-img-container">
          <img class="card-img-top img-fluid" src="{{carreer.image}}" alt="{{carreer.title}}">
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">{{carreer.title}}</h5>
          <div class="card-text-container">
            <p class="card-text">{{carreer.content.substring(0,90)}} ... more</p>
            <p class="card-text fw-bold">{{carreer.type}}</p>
          </div>

          <div class="card-text-full">
            <p class="card-text">{{carreer.content}}</p>
            <p class="card-text fw-bold">{{carreer.type}}</p>
            <p class="card-text">{{carreer.info}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
