<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img style="width: 180px; height: 50px;" src="assets/pics/cropped-CodeFactory-LOGO-September-2020.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
           OUR COURSES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/">Full Stack Web Developer</a></li>
            <li><a class="dropdown-item" routerLink="/">Frontend Developer</a></li>
            <li><a class="dropdown-item" routerLink="/">Backend Developer</a></li>
            <li><a class="dropdown-item" routerLink="/">Amazon Cloud Practitioner</a></li>
            <li><a class="dropdown-item" routerLink="/">Basic course HTML/CSS</a></li>
            <li><a class="dropdown-item" routerLink="/">Basic course JavaScript</a></li>
            <li><a class="dropdown-item" routerLink="/">Python Programming</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li>  -->
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            FOR COMPANIES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/">Career_Net</a></li>
            <li><a class="dropdown-item" routerLink="/">Custom Courses: Code_Academy</a></li>
            <li><a class="dropdown-item" routerLink="/">Brand Ambassador</a></li>
            <li><a class="dropdown-item" routerLink="/">Seminar / Lecture Rooms</a></li>
            <li><a class="dropdown-item" routerLink="/">Featured Alumni Projects</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            FOR STUDENTDS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/">Frequently Asked Questions (FAQ)</a></li>
            <li><a class="dropdown-item" routerLink="/">Payment and Financing Options</a></li>
            <li><a class="dropdown-item" routerLink="/">C.A.N. CodeFactory Alumni Network</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            ABOUT US
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/">Team</a></li>
            <li><a class="dropdown-item" routerLink="/">News</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>