<nav class="navbar navbar-expand-sm fixed-top border border-light rounded m-3" data-bs-theme="dark">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/"><img style="height: 50px;" src="assets/pics/cropped-CodeFactory-LOGO-September-2020.png"></a>

    <!-- Hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="students">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stories">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="events">Events</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


