$nav-bg-color: rgba(255, 255, 255, 0.3);
$nav-text-color: #821918;
$nav-text-hover-color: white;
$body-bg-color: #eeeeee;
$h1-color: #ffffff;
$text-color: #363537;

nav {
  // background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
  background: linear-gradient(90deg, #bbb, black);
  color: white;
  text-shadow: 2px 2px 10px black;
  opacity: 95%;

  a {
    color: #ddd;
    font-size: 1.4em;

    &:hover {
      color: white !important;
    }
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.1);
  }
}