.cardLink {
  text-decoration: none;
}

.card {
    align-items: center;
}

.card-img-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .card:hover .card-img-container {
    height: 200px;
    width: 200px;
  }
  