body {
  background-image: url("../../assets/pics/20230228_091649.jpg");
  background-size: cover;
  background-attachment: fixed;
}

section {
  background: linear-gradient(90deg, rgba(127, 127, 127, 0.8), rgba(0, 0, 0, 0.8));
  color: #eee;
  text-shadow: 2px 2px 10px black;
}