<section class=" border border-light rounded m-3">
    <div class="container">
      <div class="row">
        <div class="hero">
          <h1>Welcome to the CodeFactory Alumni page</h1>
          <p>Join our community of alumni and stay connected with fellow graduates, mentors, and industry professionals.</p>
          <a class="btn btn-outline-light btn-floating m-1" routerLink="/stories">Submit your project</a>
        </div>
      </div>
    </div>
  </section>

  <section class="events border border-light rounded m-3">
    <div class="container">
      <h2>Upcoming Events</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let event of upcomingEvents | slice:0:3">
          <div class="card">
            <img class="card-img-top" src="assets/{{event.image}}" alt="{{event.name}}">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <p class="card-text">{{event.description}}</p>
              <a routerLink="/events" class="btn btn-outline-light btn-floating m-1">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  